/* ------------------------------------- Estilos Gerais ------------------------------------- */
.formBox {
    background-color: aquamarine;
    padding: 15px;
}

.input-style-1{
    height: 25px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 5px;
}

.label-bold{
    font-weight: bold;
}

.inputBox, .comboBox{
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-bottom: 20px;
}

.inputBox input, .comboBox select{
    color: gray;
    margin-top: 2px;
    padding: 6px 12px;
    border: none;
    border-radius: 7px;
    font-size: 0.9em;
    font-weight:lighter;
}

.SFBox{
    text-align: center;
}
.SFBox .linksf{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.SFBox .linksf:visited{color: white;}
.SFBox .linksf:hover{color: #BB1212;}

.btConfirmar{
    background-color: pink;
    border-style: none;
    width: 100%;
    height: 45px;
    color: black;
    font-size: 1.1em;
}
.btConfirmar:hover {
    transition: 400ms;
    background-color: #BB1212;
    color: white;
    cursor: pointer;
}

.btConfirmar:active {
    transform: translateY(4px);
}


/* ------------------------------------- Estilos Específicos ------------------------------------- */





/* //////////////// Cadastro de doações //////////////// feita por HENRIQUE*/

.cb-tipoDoacao{
    height: 25px;
    width: 120px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 5px;
}

.ta-descricao{ /*ta = textarea*/
    width: 400px;
    height: 200px;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 16px;
}

.button-doacao {
    width: auto;
    padding: 5px;
}






/* ////////////////// Cadastro de Usuários ////////////////  feita por IRINEU*/

/*.link {
    color: black;
}*/

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
}

.campos-cadastro {    
    width: 680px;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    background-color: #D67171; /*#3069719d*/ 
}

.campos-cadastro > h1 {
    display: flex; 
    justify-content: center;
    font-size: 1.5em;
}

.box-nome, 
.box-senha,
.box-email, 
.box-dtNasc,
.box-telefone,
.box-endereco,
.box-tipoUsuario,
.box-cpf {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-bottom: 20px;
}

.box-telefone > label,
.box-email > label {
    display: flex;
    padding: 4px; 
}

.box-telefone > label > p,
.box-email > label > p {
    margin-left: 4px;
    font-size: 0.7em;
}

.box-nome > input,
.box-senha > input,
.box-email > input,
.box-dtNasc > input,
.box-cpf > input,
.box-endereco > input,
.box-telefone > input {
    color: gray;
    margin-top: 2px;
    padding: 6px 12px;
    border: none;
    border-radius: 7px;
    font-size: 0.9em;
    font-weight:lighter;
}

.box-tipoUsuario > select {
    margin-top: 2px;
    padding: 6px 12px;
    border: none;
    border-radius: 7px;
    background: white;    
    color: gray;
    font-size: 0.9em;
    cursor: pointer;
}

.bt-cadUsuario {
    background-color: pink;
    border-style: none;
    width: 100%;
    height: 45px;
    color: black;
    font-size: 1.1em;
}

.bt-cadUsuario:hover {
    transition: 400ms;
    background-color: #BB1212;
    color: white;
    cursor: pointer;
}

.bt-cadUsuario:active {
    transform: translateY(4px);
}